In [17]:
#Load data into sqlite database
import numpy as np
import pandas as pd
import sqlite3

In [18]:
pd.set_option('display.max_columns', None)

#### Define a few functions

In [19]:
db = sqlite3.connect('./data/npidata_final.sqlite')

query = "SELECT * FROM nppes LIMIT 5"

hopteaming = pd.read_sql(query, db)

db.close()

In [20]:
hopteaming.head()

,NPI,Entity_Type_Code,Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,Provider Credential Text,Provider First Line Business Practice Location Address,Provider Second Line Business Practice Location Address,Provider Business Practice Location Address City Name,Provider Business Practice Location Address State Name,Provider Business Practice Location Address Postal Code,Healthcare Provider Taxonomy Code_1,Healthcare Provider Primary Taxonomy Switch_1,Healthcare Provider Taxonomy Code_2,Healthcare Provider Primary Taxonomy Switch_2,Healthcare Provider Taxonomy Code_3,Healthcare Provider Primary Taxonomy Switch_3,Healthcare Provider Taxonomy Code_4,Healthcare Provider Primary Taxonomy Switch_4,Healthcare Provider Taxonomy Code_5,Healthcare Provider Primary Taxonomy Switch_5,Healthcare Provider Taxonomy Code_6,Healthcare Provider Primary Taxonomy Switch_6,Healthcare Provider Taxonomy Code_7,Healthcare Provider Primary Taxonomy Switch_7,Healthcare Provider Taxonomy Code_8,Healthcare Provider Primary Taxonomy Switch_8,Healthcare Provider Taxonomy Code_9,Healthcare Provider Primary Taxonomy Switch_9,Healthcare Provider Taxonomy Code_10,Healthcare Provider Primary Taxonomy Switch_10,Healthcare Provider Taxonomy Code_11,Healthcare Provider Primary Taxonomy Switch_11,Healthcare Provider Taxonomy Code_12,Healthcare Provider Primary Taxonomy Switch_12,Healthcare Provider Taxonomy Code_13,Healthcare Provider Primary Taxonomy Switch_13,Healthcare Provider Taxonomy Code_14,Healthcare Provider Primary Taxonomy Switch_14,Healthcare Provider Taxonomy Code_15,Healthcare Provider Primary Taxonomy Switch_15,Taxonomy_Code,Classification,zipcodes,CBSA
0,1679576722,1.0,None,WIEBE,DAVID,A,None,None,M.D.,3500 CENTRAL AVE,None,KEARNEY,NE,688472944.0,207X00000X,Y,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,207X00000X,Orthopaedic Surgery,68847,28260
1,1588667638,1.0,None,PILCHER,WILLIAM,C,DR.,None,MD,1824 KING STREET,SUITE 300,JACKSONVILLE,FL,322044736.0,207RC0000X,Y,207RC0000X,N,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,207RC0000X,Internal Medicine,32204,27260
2,1497758544,2.0,"CUMBERLAND COUNTY HOSPITAL SYSTEM, INC",None,None,None,None,None,None,3418 VILLAGE DR,None,FAYETTEVILLE,NC,283044552.0,251G00000X,Y,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,251G00000X,"Hospice Care, Community Based",28304,22180
3,1306849450,NaN,None,None,None,None,None,None,None,None,None,None,None,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,00000,0
4,1215930367,1.0,None,GRESSOT,LAURENT,None,DR.,None,M.D.,17323 RED OAK DR,None,HOUSTON,TX,770901243.0,174400000X,N,207RH0003X,Y,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,207RH0003X,Internal Medicine,77090,26420

In [22]:
hopteaming.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 48 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   NPI                                                      5 non-null      int64
 1   Entity_Type_Code                                         4 non-null      float64
 2   Provider Organization Name (Legal Business Name)         1 non-null      object
 3   Provider Last Name (Legal Name)                          3 non-null      object
 4   Provider First Name                                      3 non-null      object
 5   Provider Middle Name                                     2 non-null      object
 6   Provider Name Prefix Text                                2 non-null      object
 7   Provider Name Suffix Text                                0 non-null      object
 8   Provider Credential Text                                 3 non-null      object
 9   Provider First Line Business Practice Location Address   4 non-null      object
 10  Provider Second Line Business Practice Location Address  1 non-null      object
 11  Provider Business Practice Location Address City Name    4 non-null      object
 12  Provider Business Practice Location Address State Name   4 non-null      object
 13  Provider Business Practice Location Address Postal Code  4 non-null      float64
 14  Healthcare Provider Taxonomy Code_1                      4 non-null      object
 15  Healthcare Provider Primary Taxonomy Switch_1            4 non-null      object
 16  Healthcare Provider Taxonomy Code_2                      2 non-null      object
 17  Healthcare Provider Primary Taxonomy Switch_2            2 non-null      object
 18  Healthcare Provider Taxonomy Code_3                      0 non-null      object
 19  Healthcare Provider Primary Taxonomy Switch_3            0 non-null      object
 20  Healthcare Provider Taxonomy Code_4                      0 non-null      object
 21  Healthcare Provider Primary Taxonomy Switch_4            0 non-null      object
 22  Healthcare Provider Taxonomy Code_5                      0 non-null      object
 23  Healthcare Provider Primary Taxonomy Switch_5            0 non-null      object
 24  Healthcare Provider Taxonomy Code_6                      0 non-null      object
 25  Healthcare Provider Primary Taxonomy Switch_6            0 non-null      object
 26  Healthcare Provider Taxonomy Code_7                      0 non-null      object
 27  Healthcare Provider Primary Taxonomy Switch_7            0 non-null      object
 28  Healthcare Provider Taxonomy Code_8                      0 non-null      object
 29  Healthcare Provider Primary Taxonomy Switch_8            0 non-null      object
 30  Healthcare Provider Taxonomy Code_9                      0 non-null      object
 31  Healthcare Provider Primary Taxonomy Switch_9            0 non-null      object
 32  Healthcare Provider Taxonomy Code_10                     0 non-null      object
 33  Healthcare Provider Primary Taxonomy Switch_10           0 non-null      object
 34  Healthcare Provider Taxonomy Code_11                     0 non-null      object
 35  Healthcare Provider Primary Taxonomy Switch_11           0 non-null      object
 36  Healthcare Provider Taxonomy Code_12                     0 non-null      object
 37  Healthcare Provider Primary Taxonomy Switch_12           0 non-null      object
 38  Healthcare Provider Taxonomy Code_13                     0 non-null      object
 39  Healthcare Provider Primary Taxonomy Switch_13           0 non-null      object
 40  Healthcare Provider Taxonomy Code_14                     0 non-null      object
 41  Healthcare Provider Primary Taxonomy Switch_14           0 non-null      object
 42  Healthcare Provider Taxonomy Code_15                     0 non-null      object
 43  Healthcare Provider Primary Taxonomy Switch_15           0 non-null      object
 44  Taxonomy_Code                                            4 non-null      object
 45  Classification                                           4 non-null      object
 46  zipcodes                                                 5 non-null      object
 47  CBSA                                                     5 non-null      int64
dtypes: float64(2), int64(2), object(44)
memory usage: 2.0+ KB

In [21]:
db = sqlite3.connect('./data/npidata_final.sqlite')

query = "SELECT * FROM npi LIMIT 5"

npi = pd.read_sql(query, db)

db.close()

In [5]:
npi.head()

,from_npi,to_npi,patient_count,transaction_count,average_day_wait,std_day_wait
0,1508085911,1730166125,58,67,23.925,43.923
1,1508167040,1730166125,51,51,28.196,52.876
2,1508863549,1730166125,340,391,18.302,42.422
3,1508867870,1730166125,50,79,12.658,26.402
4,1508011040,1730166224,132,145,8.579,28.053

In [6]:
npi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   from_npi           5 non-null      int64
 1   to_npi             5 non-null      int64
 2   patient_count      5 non-null      int64
 3   transaction_count  5 non-null      int64
 4   average_day_wait   5 non-null      float64
 5   std_day_wait       5 non-null      float64
dtypes: float64(2), int64(4)
memory usage: 372.0 bytes

In [12]:
db = sqlite3.connect('./data/npidata_final.sqlite')

query = 'SELECT "Provider First Line Business Practice Location Address" FROM nppes'

rename_test = pd.read_sql(query, db)

db.close()

In [29]:
rename_test.head()

  Provider First Line Business Practice Location Address
0                                   3500 CENTRAL AVE
1                                   1824 KING STREET
2                                    3418 VILLAGE DR
3                                               None
4                                   17323 RED OAK DR

First, build a profile of providers referring patients to the major hospitals in Nashville. 

Are certain specialties more likely to refer to a particular hospital over the others?

In [ ]:
#First select out all practices in Nashville
#Then select out important information from npi's
#Then join them together
#Next, what are the major Nashville Hospitals?
    #Vanderbilt
    #Centennial
    #St. Thomas (midtown, west)
    #Nashville General
    #VA

In [30]:
db = sqlite3.connect('./data/npidata_final.sqlite')

query = 'SELECT "Provider Organization Name (Legal Business Name)", "Provider Business Practice Location Address City Name", "NPI", "Classification", "Taxonomy_Code" FROM nppes WHERE "Provider Business Practice Location Address City Name" LIKE "%NASHVILLE%"'

Nashville_Practices = pd.read_sql(query, db)

db.close()

In [31]:
Nashville_Practices

,Provider Organization Name (Legal Business Name),Provider Business Practice Location Address City Name,NPI,Classification,Taxonomy_Code
0,None,NASHVILLE,1134122187,Nurse Practitioner,363L00000X
1,None,NASHVILLE,1003819046,Obstetrics & Gynecology,207VG0400X
2,None,NASHVILLE,1922001957,Obstetrics & Gynecology,207V00000X
3,None,NASHVILLE,1760485817,Obstetrics & Gynecology,207V00000X
4,None,NASHVILLE,1437152485,Obstetrics & Gynecology,207V00000X
...,...,...,...,...,...
50385,None,NASHVILLE,1902660038,Social Worker,104100000X
50386,None,NASHVILLE,1669236709,Physician Assistant,363A00000X
50387,None,NASHVILLE,1972367977,Nurse Practitioner,363LA2100X
50388,None,NASHVILLE,1205690252,Pharmacist,1835P0018X
50389,None,NASHVILLE,1205690179,Social Worker,1041C0700X

In [29]:
db = sqlite3.connect('./data/npidata_final.sqlite')

query = 'SELECT "from_npi", "to_npi", "patient_count" FROM npi'

npis_patient_count = pd.read_sql(query, db)

db.close()